.rating {overflow: hidden; margin: 10px 0 !important; display: block; background: #fff}
.rating li {float: left; margin: 0 2px 2px 0; width: 23px; height: 22px; overflow: hidden;
	list-style: none !important}
.rating.needs-rating li, .rating.form-rating li {cursor: pointer;}
.rating .l {float: left; height: 22px; width: 12px; background: #ccc url(pointy.png) 0 0}
.rating .r {float: right; height: 22px; width: 11px; background: #ccc url(pointy.png) -12px 0}
.rating .half .l {background-color: #333}
.rating .half .r {background-color: #ccc}
.rating .whole .l {background-color: #333}
.rating .whole .r {background-color: #333}
.rating .rover .l {background-color: #000}
.rating .rover .r {background-color: #000}
